@import 'tailwindcss';

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #3DADD9;
    --color-secondary: #9ACBD0;
    --color-accent: #006A71;
    --color-background: #F2EFE7;
    --color-text: #181a1b;
    --color-line: #575716;

    --color-shadow: #e0d9c6CC;
    --shadow: 0 1px 3px 2px var(--color-shadow);


    --color-background-dark: #081B26;
    --color-secondary-dark: #113E59;
    --color-tertiary-dark: #113E59;
    --color-text-dark: #f0f2f4;

    --color-shadow-dark: #010202CC;
    --shadow-dark: 0 1px 3px 2px var(--color-shadow-dark);
}

@source "../node_modules/flowbite-svelte/dist";

html, body {
    font-family: 'Georgia', serif;
    @apply bg-background dark:bg-background-dark dark:text-text-dark scroll-smooth;
    @apply transition-all duration-200 ease-in-out
}

h1 {
    @apply text-2xl mb-10;
}
